div {
	box-sizing: border-box;
	padding: 20px;
    text-transform: uppercase;
 }

.container {
	width: 80%;
	margin: 0 auto;
    background: whitesmoke;
}

.header {
	width: 100%;
	height: 50px;
    background: darkorange;
}


.sidebar {
	float: left;
	width: 33.3%;
	height: 300px;
    background: orange;
}

.main-content {
	float: left;
	width: 33.3%;
	height: 300px;
    background: lightgray;
	color: #fff;
}

.sub-content {
	float: left;
	width: 33.3%;
	height: 300px;
    background: rgb(76, 129, 129);
}


.footer {
	clear: both;
    background: lightgreen;
}